VITE_API_URL=http://localhost:8000/api
VITE_ENABLE_PWA=false
FACTURAOF1_WEB_PORT=5176
FACTURAOF1_WEB_CONTAINER_NAME=facturaof1-web
FACTURAOF1_WEB_NETWORK=facturaof1_web_net
VITE_FACTURAOF1_URL=http://localhost:5176
VITE_OF1_ADMIN_URL=http://localhost:5177
VITE_FIRMADOR_URL=http://localhost:5178
