VITE_API_URL=http://localhost:8000/api
FIRMADOR_WEB_PORT=5178
FIRMADOR_WEB_CONTAINER_NAME=firmador-web
FIRMADOR_WEB_NETWORK=firmador_web_net
VITE_FACTURAOF1_URL=http://localhost:5176
VITE_OF1_ADMIN_URL=http://localhost:5177
VITE_FIRMADOR_URL=http://localhost:5178
