VITE_API_URL=http://localhost:8000/api
VITE_ENABLE_PWA=false
OF1_ADMIN_WEB_PORT=5177
OF1_ADMIN_WEB_CONTAINER_NAME=of1-admin-web
OF1_ADMIN_WEB_NETWORK=of1_admin_web_net
VITE_FACTURAOF1_URL=http://localhost:5176
VITE_OF1_ADMIN_URL=http://localhost:5177
VITE_FIRMADOR_URL=http://localhost:5178
